<% flash.each do |type, message| %>
  <% if message.present? && message.class == String %>
    <% if type == 'success' %>
      <div class="flash flash-success"><%= message %></div>
    <% elsif type == 'notice' %>
      <div class="flash flash-danger"><%= message %></div>
    <% elsif type == 'warning' || type == 'alert' %>
      <div class="flash flash-warning"><%= message %></div>
    <% else %>
      <div class="flash flash-info"><%= message %></div>
    <% end %>
  <% end %>
<% end %>
